@charset "UTF-8";

:root {
    --img-foundsite: url(../images/fundo-madeira.jpg);
    --img-borderiphone: url(../images/frame-iphone.png);
    --img-logofacebook: url(../images/logo-facebook.jpg);
    --img-logotwitter: url(../images/logo-twitter.jpg);
    --img-logoinstagram: url(../images/logo-instagram.jpg);
    --img-logogithub: url(../images/logo-github.jpg);
    --img-logoyoutube: url(../images/logo-youtube.jpg);
    --img-logohome: url(../images/logo-home.jpg);
    --img-screenfacebook: url(../images/tela-facebook.jpg);
    --img-screengithub: url(../images/tela-github.jpg);
    --img-screenhome: url(../images/tela-home.jpg);
    --img-screeninstagram: url(../images/tela-instagram.jpg);
    --img-screentwitter: url(../images/tela-twitter.jpg);
    --img-screenyoutube: url(../images/tela-youtube.png);
}